# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
ProjectUiServices/node_modules/encodeurl/index.js
ProjectUiServices/node_modules/.bin/mime
ProjectUiServices/node_modules/.bin/mime.cmd
ProjectUiServices/node_modules/accepts/LICENSE
.gitignore
ProjectUiServices/node_modules/accepts/HISTORY.md
ProjectUiServices/node_modules/accepts/README.md
ProjectUiServices/node_modules/accepts/index.js
ProjectUiServices/node_modules/accepts/package.json
ProjectUiServices/node_modules/array-flatten/LICENSE
ProjectUiServices/node_modules/array-flatten/README.md
ProjectUiServices/node_modules/array-flatten/array-flatten.js
ProjectUiServices/node_modules/array-flatten/package.json
ProjectUiServices/node_modules/body-parser/HISTORY.md
ProjectUiServices/node_modules/body-parser/LICENSE
ProjectUiServices/node_modules/body-parser/README.md
ProjectUiServices/node_modules/body-parser/index.js
ProjectUiServices/node_modules/body-parser/package.json
ProjectUiServices/node_modules/body-parser/lib/read.js
ProjectUiServices/node_modules/body-parser/lib/types/json.js
ProjectUiServices/node_modules/body-parser/lib/types/raw.js
ProjectUiServices/node_modules/body-parser/lib/types/text.js
ProjectUiServices/node_modules/body-parser/lib/types/urlencoded.js
ProjectUiServices/node_modules/bytes/History.md
ProjectUiServices/node_modules/bytes/LICENSE
ProjectUiServices/node_modules/bytes/Readme.md
ProjectUiServices/node_modules/bytes/index.js
ProjectUiServices/node_modules/bytes/package.json
ProjectUiServices/node_modules/content-disposition/HISTORY.md
ProjectUiServices/node_modules/content-disposition/LICENSE
ProjectUiServices/node_modules/content-disposition/README.md
ProjectUiServices/node_modules/content-disposition/index.js
ProjectUiServices/node_modules/content-disposition/package.json
ProjectUiServices/node_modules/content-type/HISTORY.md
ProjectUiServices/node_modules/content-type/LICENSE
ProjectUiServices/node_modules/content-type/README.md
ProjectUiServices/node_modules/content-type/index.js
ProjectUiServices/node_modules/content-type/package.json
ProjectUiServices/node_modules/cookie/HISTORY.md
ProjectUiServices/node_modules/cookie/LICENSE
ProjectUiServices/node_modules/cookie/README.md
ProjectUiServices/node_modules/cookie/index.js
ProjectUiServices/node_modules/cookie/package.json
ProjectUiServices/node_modules/cookie-signature/.npmignore
ProjectUiServices/node_modules/cookie-signature/History.md
ProjectUiServices/node_modules/cookie-signature/Readme.md
ProjectUiServices/node_modules/cookie-signature/index.js
ProjectUiServices/node_modules/cookie-signature/package.json
ProjectUiServices/node_modules/cors/CONTRIBUTING.md
ProjectUiServices/node_modules/cors/HISTORY.md
ProjectUiServices/node_modules/cors/LICENSE
ProjectUiServices/node_modules/cors/README.md
ProjectUiServices/node_modules/cors/package.json
ProjectUiServices/node_modules/cors/lib/index.js
ProjectUiServices/node_modules/debug/.eslintrc
ProjectUiServices/node_modules/debug/.npmignore
ProjectUiServices/node_modules/debug/.coveralls.yml
ProjectUiServices/node_modules/debug/.travis.yml
ProjectUiServices/node_modules/debug/CHANGELOG.md
ProjectUiServices/node_modules/debug/LICENSE
ProjectUiServices/node_modules/debug/Makefile
ProjectUiServices/node_modules/debug/README.md
ProjectUiServices/node_modules/debug/component.json
ProjectUiServices/node_modules/debug/karma.conf.js
ProjectUiServices/node_modules/debug/node.js
ProjectUiServices/node_modules/debug/package.json
ProjectUiServices/node_modules/debug/src/browser.js
ProjectUiServices/node_modules/debug/src/debug.js
ProjectUiServices/node_modules/debug/src/index.js
ProjectUiServices/node_modules/debug/src/inspector-log.js
ProjectUiServices/node_modules/debug/src/node.js
ProjectUiServices/node_modules/depd/History.md
ProjectUiServices/node_modules/depd/LICENSE
ProjectUiServices/node_modules/depd/Readme.md
ProjectUiServices/node_modules/depd/index.js
ProjectUiServices/node_modules/depd/package.json
ProjectUiServices/node_modules/depd/lib/browser/index.js
ProjectUiServices/node_modules/depd/lib/compat/callsite-tostring.js
ProjectUiServices/node_modules/depd/lib/compat/event-listener-count.js
ProjectUiServices/node_modules/depd/lib/compat/index.js
ProjectUiServices/node_modules/destroy/LICENSE
ProjectUiServices/node_modules/destroy/README.md
ProjectUiServices/node_modules/destroy/index.js
ProjectUiServices/node_modules/destroy/package.json
ProjectUiServices/node_modules/ee-first/LICENSE
ProjectUiServices/node_modules/ee-first/README.md
ProjectUiServices/node_modules/ee-first/index.js
ProjectUiServices/node_modules/ee-first/package.json
ProjectUiServices/node_modules/encodeurl/HISTORY.md
ProjectUiServices/node_modules/encodeurl/LICENSE
ProjectUiServices/node_modules/encodeurl/README.md
ProjectUiServices/node_modules/encodeurl/package.json
ProjectUiServices/node_modules/escape-html/LICENSE
ProjectUiServices/node_modules/escape-html/Readme.md
ProjectUiServices/node_modules/escape-html/index.js
ProjectUiServices/node_modules/escape-html/package.json
ProjectUiServices/node_modules/etag/HISTORY.md
ProjectUiServices/node_modules/etag/LICENSE
ProjectUiServices/node_modules/etag/README.md
ProjectUiServices/node_modules/etag/index.js
ProjectUiServices/node_modules/etag/package.json
ProjectUiServices/node_modules/express/History.md
ProjectUiServices/node_modules/express/LICENSE
ProjectUiServices/node_modules/express/Readme.md
ProjectUiServices/node_modules/express/index.js
ProjectUiServices/node_modules/express/package.json
ProjectUiServices/node_modules/express/lib/application.js
ProjectUiServices/node_modules/express/lib/express.js
ProjectUiServices/node_modules/express/lib/request.js
ProjectUiServices/node_modules/express/lib/response.js
ProjectUiServices/node_modules/express/lib/utils.js
ProjectUiServices/node_modules/express/lib/view.js
ProjectUiServices/node_modules/express/lib/middleware/init.js
ProjectUiServices/node_modules/express/lib/middleware/query.js
ProjectUiServices/node_modules/express/lib/router/index.js
ProjectUiServices/node_modules/express/lib/router/layer.js
ProjectUiServices/node_modules/express/lib/router/route.js
ProjectUiServices/node_modules/finalhandler/HISTORY.md
ProjectUiServices/node_modules/finalhandler/LICENSE
ProjectUiServices/node_modules/finalhandler/README.md
ProjectUiServices/node_modules/finalhandler/index.js
ProjectUiServices/node_modules/finalhandler/package.json
ProjectUiServices/node_modules/forwarded/HISTORY.md
ProjectUiServices/node_modules/forwarded/LICENSE
ProjectUiServices/node_modules/forwarded/README.md
ProjectUiServices/node_modules/forwarded/index.js
ProjectUiServices/node_modules/forwarded/package.json
ProjectUiServices/node_modules/fresh/HISTORY.md
ProjectUiServices/node_modules/fresh/LICENSE
ProjectUiServices/node_modules/fresh/README.md
ProjectUiServices/node_modules/fresh/index.js
ProjectUiServices/node_modules/fresh/package.json
ProjectUiServices/node_modules/http-errors/HISTORY.md
ProjectUiServices/node_modules/http-errors/LICENSE
ProjectUiServices/node_modules/http-errors/README.md
ProjectUiServices/node_modules/http-errors/index.js
ProjectUiServices/node_modules/http-errors/package.json
ProjectUiServices/node_modules/iconv-lite/.travis.yml
ProjectUiServices/node_modules/iconv-lite/Changelog.md
ProjectUiServices/node_modules/iconv-lite/LICENSE
ProjectUiServices/node_modules/iconv-lite/README.md
ProjectUiServices/node_modules/iconv-lite/package.json
ProjectUiServices/node_modules/iconv-lite/encodings/dbcs-codec.js
ProjectUiServices/node_modules/iconv-lite/encodings/dbcs-data.js
ProjectUiServices/node_modules/iconv-lite/encodings/index.js
ProjectUiServices/node_modules/iconv-lite/encodings/internal.js
ProjectUiServices/node_modules/iconv-lite/encodings/sbcs-codec.js
ProjectUiServices/node_modules/iconv-lite/encodings/sbcs-data.js
ProjectUiServices/node_modules/iconv-lite/encodings/sbcs-data-generated.js
ProjectUiServices/node_modules/iconv-lite/encodings/utf16.js
ProjectUiServices/node_modules/iconv-lite/encodings/utf7.js
ProjectUiServices/node_modules/iconv-lite/encodings/tables/big5-added.json
ProjectUiServices/node_modules/iconv-lite/encodings/tables/cp936.json
ProjectUiServices/node_modules/iconv-lite/encodings/tables/cp949.json
ProjectUiServices/node_modules/iconv-lite/encodings/tables/cp950.json
ProjectUiServices/node_modules/iconv-lite/encodings/tables/eucjp.json
ProjectUiServices/node_modules/iconv-lite/encodings/tables/gb18030-ranges.json
ProjectUiServices/node_modules/iconv-lite/encodings/tables/gbk-added.json
ProjectUiServices/node_modules/iconv-lite/encodings/tables/shiftjis.json
ProjectUiServices/node_modules/iconv-lite/lib/bom-handling.js
ProjectUiServices/node_modules/iconv-lite/lib/extend-node.js
ProjectUiServices/node_modules/iconv-lite/lib/index.js
ProjectUiServices/node_modules/iconv-lite/lib/index.d.ts
ProjectUiServices/node_modules/iconv-lite/lib/streams.js
ProjectUiServices/node_modules/inherits/LICENSE
ProjectUiServices/node_modules/inherits/README.md
ProjectUiServices/node_modules/inherits/inherits.js
ProjectUiServices/node_modules/inherits/inherits_browser.js
ProjectUiServices/node_modules/inherits/package.json
ProjectUiServices/node_modules/ipaddr.js/README.md
ProjectUiServices/node_modules/ipaddr.js/ipaddr.min.js
ProjectUiServices/node_modules/ipaddr.js/package.json
ProjectUiServices/node_modules/ipaddr.js/lib/ipaddr.js
ProjectUiServices/node_modules/ipaddr.js/lib/ipaddr.js.d.ts
ProjectUiServices/node_modules/media-typer/HISTORY.md
ProjectUiServices/node_modules/media-typer/LICENSE
ProjectUiServices/node_modules/media-typer/README.md
ProjectUiServices/node_modules/media-typer/index.js
ProjectUiServices/node_modules/media-typer/package.json
ProjectUiServices/node_modules/merge-descriptors/HISTORY.md
ProjectUiServices/node_modules/merge-descriptors/LICENSE
ProjectUiServices/node_modules/merge-descriptors/README.md
ProjectUiServices/node_modules/merge-descriptors/index.js
ProjectUiServices/node_modules/merge-descriptors/package.json
ProjectUiServices/node_modules/methods/HISTORY.md
ProjectUiServices/node_modules/methods/LICENSE
ProjectUiServices/node_modules/methods/README.md
ProjectUiServices/node_modules/methods/index.js
ProjectUiServices/node_modules/methods/package.json
ProjectUiServices/node_modules/mime/LICENSE
ProjectUiServices/node_modules/mime/README.md
ProjectUiServices/node_modules/mime/cli.js
ProjectUiServices/node_modules/mime/mime.js
ProjectUiServices/node_modules/mime/package.json
ProjectUiServices/node_modules/mime/types.json
ProjectUiServices/node_modules/mime/build/build.js
ProjectUiServices/node_modules/mime/build/test.js
ProjectUiServices/node_modules/mime-db/HISTORY.md
ProjectUiServices/node_modules/mime-db/LICENSE
ProjectUiServices/node_modules/mime-db/README.md
ProjectUiServices/node_modules/mime-db/db.json
ProjectUiServices/node_modules/mime-db/index.js
ProjectUiServices/node_modules/mime-db/package.json
ProjectUiServices/node_modules/mime-types/HISTORY.md
ProjectUiServices/node_modules/mime-types/LICENSE
ProjectUiServices/node_modules/mime-types/README.md
ProjectUiServices/node_modules/mime-types/index.js
ProjectUiServices/node_modules/mime-types/package.json
ProjectUiServices/node_modules/ms/index.js
ProjectUiServices/node_modules/ms/license.md
ProjectUiServices/node_modules/ms/package.json
ProjectUiServices/node_modules/ms/readme.md
ProjectUiServices/node_modules/negotiator/HISTORY.md
ProjectUiServices/node_modules/negotiator/LICENSE
ProjectUiServices/node_modules/negotiator/README.md
ProjectUiServices/node_modules/negotiator/index.js
ProjectUiServices/node_modules/negotiator/package.json
ProjectUiServices/node_modules/negotiator/lib/charset.js
ProjectUiServices/node_modules/negotiator/lib/encoding.js
ProjectUiServices/node_modules/negotiator/lib/language.js
ProjectUiServices/node_modules/negotiator/lib/mediaType.js
ProjectUiServices/node_modules/object-assign/index.js
ProjectUiServices/node_modules/object-assign/license
ProjectUiServices/node_modules/object-assign/package.json
ProjectUiServices/node_modules/object-assign/readme.md
ProjectUiServices/node_modules/on-finished/HISTORY.md
ProjectUiServices/node_modules/on-finished/LICENSE
ProjectUiServices/node_modules/on-finished/README.md
ProjectUiServices/node_modules/on-finished/index.js
ProjectUiServices/node_modules/on-finished/package.json
ProjectUiServices/node_modules/parseurl/HISTORY.md
ProjectUiServices/node_modules/parseurl/LICENSE
ProjectUiServices/node_modules/parseurl/README.md
ProjectUiServices/node_modules/parseurl/index.js
ProjectUiServices/node_modules/parseurl/package.json
ProjectUiServices/node_modules/path-to-regexp/History.md
ProjectUiServices/node_modules/path-to-regexp/LICENSE
ProjectUiServices/node_modules/path-to-regexp/Readme.md
ProjectUiServices/node_modules/path-to-regexp/index.js
ProjectUiServices/node_modules/path-to-regexp/package.json
ProjectUiServices/node_modules/proxy-addr/HISTORY.md
ProjectUiServices/node_modules/proxy-addr/LICENSE
ProjectUiServices/node_modules/proxy-addr/README.md
ProjectUiServices/node_modules/proxy-addr/index.js
ProjectUiServices/node_modules/proxy-addr/package.json
ProjectUiServices/node_modules/qs/.editorconfig
ProjectUiServices/node_modules/qs/.eslintignore
ProjectUiServices/node_modules/qs/.eslintrc
ProjectUiServices/node_modules/qs/CHANGELOG.md
ProjectUiServices/node_modules/qs/LICENSE
ProjectUiServices/node_modules/qs/README.md
ProjectUiServices/node_modules/qs/package.json
ProjectUiServices/node_modules/qs/dist/qs.js
ProjectUiServices/node_modules/qs/lib/formats.js
ProjectUiServices/node_modules/qs/lib/index.js
ProjectUiServices/node_modules/qs/lib/parse.js
ProjectUiServices/node_modules/qs/lib/stringify.js
ProjectUiServices/node_modules/qs/lib/utils.js
ProjectUiServices/node_modules/qs/test/.eslintrc
ProjectUiServices/node_modules/qs/test/index.js
ProjectUiServices/node_modules/qs/test/parse.js
ProjectUiServices/node_modules/qs/test/stringify.js
ProjectUiServices/node_modules/qs/test/utils.js
ProjectUiServices/node_modules/range-parser/HISTORY.md
ProjectUiServices/node_modules/range-parser/LICENSE
ProjectUiServices/node_modules/range-parser/README.md
ProjectUiServices/node_modules/range-parser/index.js
ProjectUiServices/node_modules/range-parser/package.json
ProjectUiServices/node_modules/raw-body/HISTORY.md
ProjectUiServices/node_modules/raw-body/LICENSE
ProjectUiServices/node_modules/raw-body/README.md
ProjectUiServices/node_modules/raw-body/index.js
ProjectUiServices/node_modules/raw-body/index.d.ts
ProjectUiServices/node_modules/raw-body/package.json
ProjectUiServices/node_modules/safe-buffer/LICENSE
ProjectUiServices/node_modules/safe-buffer/README.md
ProjectUiServices/node_modules/safe-buffer/index.js
ProjectUiServices/node_modules/safe-buffer/index.d.ts
ProjectUiServices/node_modules/safe-buffer/package.json
ProjectUiServices/node_modules/safer-buffer/LICENSE
ProjectUiServices/node_modules/safer-buffer/Porting-Buffer.md
ProjectUiServices/node_modules/safer-buffer/Readme.md
ProjectUiServices/node_modules/safer-buffer/dangerous.js
ProjectUiServices/node_modules/safer-buffer/package.json
ProjectUiServices/node_modules/safer-buffer/safer.js
ProjectUiServices/node_modules/safer-buffer/tests.js
ProjectUiServices/node_modules/send/HISTORY.md
ProjectUiServices/node_modules/send/LICENSE
ProjectUiServices/node_modules/send/README.md
ProjectUiServices/node_modules/send/index.js
ProjectUiServices/node_modules/send/package.json
ProjectUiServices/node_modules/serve-static/HISTORY.md
ProjectUiServices/node_modules/serve-static/LICENSE
ProjectUiServices/node_modules/serve-static/README.md
ProjectUiServices/node_modules/serve-static/index.js
ProjectUiServices/node_modules/serve-static/package.json
ProjectUiServices/node_modules/setprototypeof/LICENSE
ProjectUiServices/node_modules/setprototypeof/README.md
ProjectUiServices/node_modules/setprototypeof/index.js
ProjectUiServices/node_modules/setprototypeof/index.d.ts
ProjectUiServices/node_modules/setprototypeof/package.json
ProjectUiServices/node_modules/statuses/HISTORY.md
ProjectUiServices/node_modules/statuses/LICENSE
ProjectUiServices/node_modules/statuses/README.md
ProjectUiServices/node_modules/statuses/codes.json
ProjectUiServices/node_modules/statuses/index.js
ProjectUiServices/node_modules/statuses/package.json
ProjectUiServices/node_modules/type-is/HISTORY.md
ProjectUiServices/node_modules/type-is/LICENSE
ProjectUiServices/node_modules/type-is/README.md
ProjectUiServices/node_modules/type-is/index.js
ProjectUiServices/node_modules/type-is/package.json
ProjectUiServices/node_modules/unpipe/HISTORY.md
ProjectUiServices/node_modules/unpipe/LICENSE
ProjectUiServices/node_modules/unpipe/README.md
ProjectUiServices/node_modules/unpipe/index.js
ProjectUiServices/node_modules/unpipe/package.json
ProjectUiServices/node_modules/utils-merge/.npmignore
ProjectUiServices/node_modules/utils-merge/LICENSE
ProjectUiServices/node_modules/utils-merge/README.md
ProjectUiServices/node_modules/utils-merge/index.js
ProjectUiServices/node_modules/utils-merge/package.json
ProjectUiServices/node_modules/vary/HISTORY.md
ProjectUiServices/node_modules/vary/LICENSE
ProjectUiServices/node_modules/vary/README.md
ProjectUiServices/node_modules/vary/index.js
ProjectUiServices/node_modules/vary/package.json
ProjectUiServices/node_modules/xmlbuilder/lib/XMLCData.js
ProjectUiServices/node_modules/apac/.npmignore
ProjectUiServices/node_modules/apac/.nvmrc
ProjectUiServices/node_modules/apac/.travis.yml
ProjectUiServices/node_modules/apac/CHANGELOG.md
ProjectUiServices/node_modules/apac/LICENSE
ProjectUiServices/node_modules/apac/README.md
ProjectUiServices/node_modules/apac/package.json
ProjectUiServices/node_modules/apac/examples/example-item-search.js
ProjectUiServices/node_modules/apac/lib/apac.js
ProjectUiServices/node_modules/apac/lib/locale.js
ProjectUiServices/node_modules/apac/lib/operation-helper.js
ProjectUiServices/node_modules/apac/lib/operation-helper.specs.js
ProjectUiServices/node_modules/apac/lib/request-signature-helper.js
ProjectUiServices/node_modules/apac/lib/request-signature-helper.specs.js
ProjectUiServices/node_modules/apac/lib/throttler.js
ProjectUiServices/node_modules/apac/test/assign-globals.js
ProjectUiServices/node_modules/apac/test/mocha.opts
ProjectUiServices/node_modules/apac/test/acceptance/OperationHelper.specs.js
ProjectUiServices/node_modules/sax/LICENSE
ProjectUiServices/node_modules/sax/README.md
ProjectUiServices/node_modules/sax/package.json
ProjectUiServices/node_modules/sax/lib/sax.js
ProjectUiServices/node_modules/xml2js/LICENSE
ProjectUiServices/node_modules/xml2js/README.md
ProjectUiServices/node_modules/xml2js/package.json
ProjectUiServices/node_modules/xml2js/lib/bom.js
ProjectUiServices/node_modules/xml2js/lib/builder.js
ProjectUiServices/node_modules/xml2js/lib/defaults.js
ProjectUiServices/node_modules/xml2js/lib/parser.js
ProjectUiServices/node_modules/xml2js/lib/processors.js
ProjectUiServices/node_modules/xml2js/lib/xml2js.js
ProjectUiServices/node_modules/xmlbuilder/.npmignore
ProjectUiServices/node_modules/xmlbuilder/CHANGELOG.md
ProjectUiServices/node_modules/xmlbuilder/LICENSE
ProjectUiServices/node_modules/xmlbuilder/README.md
ProjectUiServices/node_modules/xmlbuilder/package.json
ProjectUiServices/node_modules/xmlbuilder/lib/Utility.js
ProjectUiServices/node_modules/xmlbuilder/lib/XMLAttribute.js
ProjectUiServices/node_modules/xmlbuilder/lib/XMLComment.js
ProjectUiServices/node_modules/xmlbuilder/lib/XMLDTDAttList.js
ProjectUiServices/node_modules/xmlbuilder/lib/XMLDTDElement.js
ProjectUiServices/node_modules/xmlbuilder/lib/XMLDTDEntity.js
ProjectUiServices/node_modules/xmlbuilder/lib/XMLDTDNotation.js
ProjectUiServices/node_modules/xmlbuilder/lib/XMLDeclaration.js
ProjectUiServices/node_modules/xmlbuilder/lib/XMLDocType.js
ProjectUiServices/node_modules/xmlbuilder/lib/XMLDocument.js
ProjectUiServices/node_modules/xmlbuilder/lib/XMLDocumentCB.js
ProjectUiServices/node_modules/xmlbuilder/lib/XMLElement.js
ProjectUiServices/node_modules/xmlbuilder/lib/XMLNode.js
ProjectUiServices/node_modules/xmlbuilder/lib/XMLProcessingInstruction.js
ProjectUiServices/node_modules/xmlbuilder/lib/XMLRaw.js
ProjectUiServices/node_modules/xmlbuilder/lib/XMLStreamWriter.js
ProjectUiServices/node_modules/xmlbuilder/lib/XMLStringWriter.js
ProjectUiServices/node_modules/xmlbuilder/lib/XMLStringifier.js
ProjectUiServices/node_modules/xmlbuilder/lib/XMLText.js
ProjectUiServices/node_modules/xmlbuilder/lib/XMLWriterBase.js
ProjectUiServices/node_modules/xmlbuilder/lib/index.js
