<div class="banner-wrapper">
  <div class="row">
    <div class="column ">
      <img
        src="https://rukminim1.flixcart.com/flap/844/140/image/ce425625e412dfd6.jpg?q=50"
        alt=""
      />
    </div>
    <div class="column  ">
      <img
        src="https://rukminim1.flixcart.com/flap/844/140/image/ce425625e412dfd6.jpg?q=50"
        alt=""
      />
    </div>
  </div>
  <div class="row">
    <div class="column">
      <img
        src="https://rukminim1.flixcart.com/flap/844/140/image/ce425625e412dfd6.jpg?q=50"
        alt=""
      />
    </div>
    <div class="column">
      <img
        src="https://rukminim1.flixcart.com/flap/844/140/image/ce425625e412dfd6.jpg?q=50"
        alt=""
      />
    </div>
  </div>
</div>
