<div class="all-sites">
  <div class="amzo-card">
    <div class="heading advance-card">
      <div class="title">ALL SITES</div>
      <div class="searchbox">
        <input
          type="text"
          name="search"
          placeholder="Type Something"
          id="search"
          [(ngModel)]="query"
          (input)="searching()"
        />
      </div>
    </div>
    <div class="content-wrapper">
      <div class="sites" *ngIf="sites; else siteplaceholder">
        <UI-offer-by-site
          [site]="site"
          *ngFor="let site of (sites | filter: query)"
        ></UI-offer-by-site>
      </div>
      <ng-template #siteplaceholder>
        <div class="sites">
          <UI-site-placeholder
            *ngFor="let item of placeholderItem"
          ></UI-site-placeholder>
        </div>
      </ng-template>
    </div>
    <p class="addmore">Something we are missing <a href="#">Click Here</a> to add</p>
  </div>
</div>
