$color-primary: #5495ff;

.item-wrapper {
  width: 100%;
  padding: 10px;
  border-right: 1px solid #dde1e3;
  border-bottom: 1px solid #dde1e3;
}
.item-wrapper:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  border-color: rgba(223, 225, 229, 0);
}
.item-image {
  width: 100%;
  display: flex;
    justify-content: center;
  align-items: flex-start;
  text-align: center;
}
.item-image img {
  height: 450px;
  padding:10px;
  height: auto;
}
.item-name {
  font-weight: 900;
  font-size: 15px;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.item-details {
  margin-left: 20px;
  padding: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}
.details-left {
}
.item-price {
  color: $color-primary;
  font-weight: 900;
}
.details-right {
  margin-left: auto;
  display: flex;
  flex-direction: column-reverse;
}
.source {
  font-weight: 700;
  color: #e4e4e4f5;
  letter-spacing: 2px;
}
.hidden-content-wrapper {
  display: none;
}
.offer {
  float: right;
  padding: 2px;
  margin: 5px;
  background: #000;
  color: #fff;
}
