<div class="home-container">
  <div class="slider-wrapper">
    <UI-slider></UI-slider>
  </div>
  <div class="categories">
    <div class="h5">AMAZON</div>
    <div class="h5">FLIPKART</div>
    <div class="h5">SNAPDEAL</div>
    <div class="h5">ShopClues</div>
    <div class="h5">AJIO</div>
    <div class="h5">MYNTRA</div>
    <div class="h5">REDBUS</div>
    <div class="h5">AMAZON</div>
    <div class="h5">AMAZON</div>
  </div>
  <div class="top-deals amzo-card">
    <ul class="deals-container">
      <div class="deal-label ">
        <div class="title font-weight-bold">TODAY'S DEALS</div>
        <a [routerLink]="['/deals']">View all</a>
      </div>
      <UI-item-holder [items]="items"></UI-item-holder>
    </ul>
  </div>
  <div class="follow-us-holder">
    <!-- <div class="follow-us-title">Get Price Drop deals</div> -->
    <UI-social-options></UI-social-options>
  </div>

  <div class="deals amzo-card">
    <ul class="deals-container">
      <div class="deal-label ">
        <div class="title font-weight-bold">Tranding Price drop</div>
        <a [routerLink]="['/deals']">View all</a>
      </div>
      <UI-item-holder [items]="items"></UI-item-holder>
    </ul>
  </div>

  <div class="category">
    <UI-category></UI-category>
  </div>
  <div class="offer-by-site-container">
    <div class="offer-title">
      OFFER BY SITES router
      <a [routerLink]="['/sites']">View all</a>
    </div>
    <div class="offers">
      <div class="sites" *ngIf="sites; else siteplaceholder">
        <UI-offer-by-site
          [site]="site"
          *ngFor="let site of sites"
        ></UI-offer-by-site>
      </div>
      <ng-template #siteplaceholder>
        <UI-site-placeholder
          *ngFor="let item of placeholderItem"
        ></UI-site-placeholder>
      </ng-template>
    </div>
  </div>
  <div class="banners   ">
    <UI-banners></UI-banners>
  </div>
  <div class="giftcard">
    <div class="title">
      GIFTCARDS
      <div class="viewall"><a [routerLink]="['/giftcard']"> View all</a></div>
    </div>
    <div class="giftcard-list">
      <UI-giftcard
        [giftcard]="giftcard"
        *ngFor="let giftcard of giftcards"
      ></UI-giftcard>
    </div>
  </div>
</div>
