<div
  class="nav-bar-wrapper"
  [ngClass]="{ 'solid-nav advance-card': isSolidNavbar }"
>
  <div class="side-bar-icon" (click)="toggleSideNav($event)">
    <i class="fas fa-align-left" [ngClass]="{'background-white': isSolidNavbar}"></i>
    <!-- <div class="bars" >
      <div class="bar bar1"  ></div>
      <div class="bar bar2"  [ngClass]="{'background-white': isSolidNavbar}"></div>
      <div class="bar bar3"  [ngClass]="{'background-white': isSolidNavbar}"></div>
      <div class="bar bar4"  [ngClass]="{'background-white': isSolidNavbar}"></div>
    </div> -->
  </div>
  <div class="search-bar">
    <UI-search [isSolidNavbar]="isSolidNavbar"></UI-search>
  </div>
  <UI-side-nav
    (sideNavCloseClick)="toggleSideNav()"
    [isSideNavOpen]="isSideNavOpen"
  ></UI-side-nav>
  <div class="loader">
    <UI-loader></UI-loader>
  </div>
</div>
